nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;
  padding-inline: 2rem;
  width: 100%;
  background-color: var(--secondary-colour);
  /* background-color: var(--alt-colour-1); High contrast mode */
}

.navbar-left-container,
.navbar-right-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left-container {
  width: 100%;
  padding-bottom: 1.3rem;
}

.navbar-right-container {
  width: 50%;
}

/* Breakpoint for non-mobile view*/

@media only screen and (min-width: 500px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .navbar-left-container {
    padding-bottom: 0%;
    max-width: 30%;
  }

  .navbar-right-container {
    width: 18%;
  }
}
