nav { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-left-container, .navbar-right-container {
    display: flex;
    align-items: center;
    justify-content: space-between;     
}

.navbar-left-container {
    width: 100%;
    padding-bottom: 1rem; 
}

.navbar-right-container {
    width: 50%;
}

nav {
    padding-top: 2rem;
    width: 80%;
}