nav {
  border-top: 3px solid var(--primary-colour);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 0.3rem;
  padding-inline: 1rem;
  width: 100%;
  background-color: hsla(0, 0%, 100%, 0.1);
  box-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, 0.2);
}

.nav-logo {
  width: 90px;
  padding-bottom: 1rem;
  margin: 0;
}

.navbar-left-container,
.navbar-right-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left-container {
  padding-bottom: 1.3rem;
  width: 100%;
}

.navbar-right-container {
  width: 50%;
}

/* Breakpoint for non-mobile view*/

@media only screen and (min-width: 500px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 0.2rem;
  }
  .navbar-left-container {
    padding-bottom: 0%;
    width: auto;
  }

  .nav-logo {
    padding-bottom: 0rem;
  }

  .navbar-right-container {
    width: max(10%, 120px);
  }
}
