.portfolio-item-text {
  text-align: left;
  line-height: 1.2rem;
  color: var(--dark-text-shade-colour);
  font-size: var(--f-size-400);
  font-weight: 400;
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: center;
  padding-block: 1.2rem;
}

.portfolio-item-text > p:nth-child(1) {
  padding-bottom: 0.8rem;
  color: var(--dark-text-colour);
}

.portfolio-item-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: start;
}

.portfolio-item-title-container > ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  color: var(--primary-colour);
  font-size: var(--f-size-400);
  font-weight: 600;
}

.portfolio-item-link > a {
  text-decoration: none;
  color: var(--primary-colour);
}

.portfolio-item-link > a:hover {
  text-decoration: underline;
}

.portfolio-item-heading {
  font-size: var(--f-size-600);
  font-weight: 400;
  padding-bottom: 0.8rem;
  text-align: left;
  color: var(--secondary-text-colour);
}

.portfolio-item-img {
  display: block;
  border-radius: 0.5rem;
  background-image: url("../../../../public/images/wellbeing_toolkit.PNG");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 100px;
  width: 120px;
  justify-self: end;
  align-self: start;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
}

.portfolio-item-more {
  grid-column-start: 1;
  grid-column-end: 3;

  justify-self: end;
  grid-row-gap: 0;
  border: none;
  border-radius: 0.2rem;
  background-color: var(--accent-colour-light-shade);
  padding-inline: 0.5rem;
  padding-block: 0.3rem;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
  color: var(--dark-text-shade);
  font-size: var(--f-size-300);
}

.portfolio-item-more:hover {
  cursor: pointer;
}

.portfolio-item-text-full {
  width: 20%;
  height: 10%;
  display: block;
  opacity: 100;
  position: absolute;
  bottom: 1rem;
  transition: width 0.5s, height 0.5s;
  transition-timing-function: ease-in;
  background-color: var(--accent-colour-light-shade);
}

.portfolio-item-text-full-click {
  height: 90%;
  width: 100%;
  display: block;
  position: absolute;

  transition: width 0.5s, height 0.5s;
  transition-timing-function: ease-in;
}
