.navlink-li {
  list-style: none;
}

.inactiveLink {
  text-decoration: none;
  color: var(--dark-text-colour);
  font-size: var(--f-size-300);
  padding-bottom: 0.3rem;
  padding-inline: 0.2rem;
}

.navlink-li:hover {
  transform: scale(105%);
  cursor: pointer;
}

.activeLink {
  /* background-color: var(--alt-colour-1); */
  color: var(--dark-text-colour);
  text-decoration: none;
  font-size: var(--f-size-300);
  padding-bottom: 0.3rem;
  padding-inline: 0.2rem;

  /* border-radius: 0.3rem; */
  /* font-weight: 600; */
  border-bottom: 3px solid var(--accent-colour-light);
}

/* Breakpoint for non-mobile view*/

@media only screen and (min-width: 400px) {
  .navlink-li {
    padding-right: 1.5em;
  }
}
