.navlink-li {
  list-style: none;
}

.inactiveLink {
  text-decoration: none;
  color: var(--main-text-colour);
  font-size: var(--f-size-400);
  padding-block: 0.1rem;
  padding-inline: 0.4rem;
}

.navlink-li:hover {
  transform: scale(105%);
  cursor: pointer;
}

.activeLink {
  background-color: var(--alt-colour-1);
  color: var(--secondary-colour);
  text-decoration: none;
  font-size: var(--f-size-400);
  padding-block: 0.1rem;
  padding-inline: 0.4rem;
  border-radius: 0.3rem;
  font-weight: 600;
}

/* Breakpoint for non-mobile view*/

@media only screen and (min-width: 400px) {
  .navlink-li {
    padding-right: 1.5em;
  }
}
