/*
 CSS Variables
*/
:root {
  --primary-colour: rgba(113, 128, 172, 1);
  --secondary-colour: rgba(239, 121, 138, 1);
  --main-text-colour: rgba(255, 255, 255, 1);
  --secondary-text-colour: rgba(13, 24, 33, 1);
  --alt-colour-1: rgba(240, 244, 239, 1);
  --alt-colour-2: rgba(218, 65, 103, 1);

  --f-size-300: calc(1rem + 0.390625vw);
  --f-size-400: calc(1.125rem + 0.390625vw);
  --f-size-600: calc(1.5rem + 0.390625vw);
  --f-size-800: calc(2rem + 0.390625vw);
  --f-size-900: clamp(3.5rem, 3.5rem + 2vw, 80px);
}

/* 
    CSS Reset
  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

/*
    Structure and common elements
  */

body {
  color: var(--main-text-colour);
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
    var(--secondary-colour) 8em,
    var(--primary-colour) 50%,
    var(--primary-colour) 50%
  );
}
