.portfolio-section {
  padding-top: 1.5rem;
}

.portfolio-container {
  display: grid;
  gap: 1.5rem;
  padding-block: 1.5rem;
  border-top: 2px dashed var(--accent-colour-light);
}

.portfolio-item-container {
  display: grid;
  grid-template-rows: 1fr 1.5fr 0.2fr;
  grid-template-columns: 1fr 1fr;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 5px 25px var(--accent-colour-light-shade);
  padding: 1rem;
}

.portfolio-intro-container {
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: var(--f-size-300);
}

.portfolio-intro-container > p > a {
  color: var(--primary-colour);
  font-weight: 400;
  text-decoration: none;
}

.portfolio-intro-container > p > a:hover {
  text-decoration: underline;
}

.portfolio-intro-container > h1 {
  font-size: var(--f-size-800);
  color: var(--primary-colour);
  font-weight: 600;
}

.portfolio-title {
  font-size: var(--f-size-600);
  padding-bottom: 1rem;
  font-weight: 400;
  align-self: start;
}

@media only screen and (min-width: 500px) {
  .portfolio-container {
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}
