.navbar-container, main, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;      
}

footer {
  background-color: var(--alt-colour-1);
  color: var(--secondary-text-colour);
  width: 100%;
}

