/* .footerTextContainer {
  padding-block: 3rem;
  padding-inline: 1em;
  width: min(100%, 800px);
}

.footerTextContainer > p {
  text-align: center;
  line-height: 1.4em;
  font-size: var(--f-size-300);
}

.footerTextContainer > p > strong,
.footerTextContainer > p > q {
  font-size: var(--f-size-400);
  font-weight: 700;
}

.footerTextContainer > p > em {
  font-style: italic;
  font-weight: 400;
} */

.footerTextContainer {
  width: 100%;
}

.footerTextContainer > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 1.5rem;
  gap: 1rem;
}
