.footerTextContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerTextContainer > p {
  font-size: 1rem;
  padding-left: 1.5rem;
  font-weight: normal;
  color: var(--light-text-colour);
}

.footerTextContainer > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 1.5rem;
  gap: 1rem;
}
