.aboutMe {
  display: grid;
  grid-template-rows: 1fr 1.2fr;
  justify-items: center;
  align-items: center;
  row-gap: 1rem;
  width: min(100%, 1200px);
  padding-block: 2rem;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.image-container > img {
  max-width: 100%;
  width: 60%;
  border-radius: 50%;
  /* border: 1px solid var(--secondary-text-colour); */
  margin-bottom: 1rem;
}

.image-container > h3 {
  font-size: var(--f-size-600);
  font-weight: 700;
  padding-bottom: 0.2rem;
}

.image-container > p {
  font-size: var(--f-size-300);
  font-weight: 300;
}

.info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  text-align: center;
}

.info-container > h2 {
  font-size: var(--f-size-800);
  font-weight: 500;
}

.info-container > p {
  font-size: var(--f-size-300);
  font-weight: 300;
}

@media only screen and (min-width: 500px) {
  .aboutMe {
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
  }
  .info-container {
    text-align: left;
  }
}
